<h2>Details of {{character.name}}</h2>

<h3> Occupation: {{character.occupation}} </h3>

<p> Weapon: {{character.weapon}} </p>

<a href="/character/{{character.id}}/edit">Edit</a>
<a href="/character/{{character.id}}/delete">Delete</a>
<form action="/character/{{character.id}}/delete" method="POST">
	<button type="submit">Delete</button>
</form>